html
    head
        title= title
    body
        nav
            ul
                li
                    a(href='/') Home
                li
                    a(href='/services') Our Services
                li
                    a(href='/contact') Contact us
        h1= message
        p My Home page!.